.container {
    margin: 36px auto;
    width: 100%;
    max-width: 800px;
}

.heading {
    font-size: 30px;
    padding: 16px;
    color:#444;
    text-align: center;
}

.MuiTextField-root{
   margin-left:10px;
}


.search-label{
    position: relative;
}

.container input {
    width:100%;
    padding: 16px;
    font-size:24px;
    font-style: italic;
    color: #444;
    box-sizing: border-box;
    outline:none;
}

.submit-button{
    position: absolute;
    bottom: 35px;
    font-size: 24px;
    left: 325px;
    letter-spacing: 4px;
    width: 150px;
}

/* .results-container {
    display: flex;
    flex-flow: wrap;
} */

.search-loading {
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
}

.show {
display: inline-block
}

.hide{
    display:none;
}

